
.image
{
    display: block;
    margin-left: auto;
    margin-right:auto;
    width:50%
}

.health
{
    color: #bb1c8d;
}

.she
{
    color: #f68624;
}

@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Itim&family=Kanit:wght@300&family=Roboto:wght@100&family=Rubik+Maze&family=Rubik+Puddles&display=swap');
*
{
    font-family: 'Itim', cursive;
}
body
{
    background-color: lightgray;
}