@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Roboto:wght@100&family=Rubik+Maze&family=Rubik+Puddles&family=Ubuntu&display=swap');
nav
{
    font-family: 'Rubik Maze', cursive;
   background-color: #710293;
    box-shadow: 1px -1px #1c1e21;
}

.users-icon,.removed-users-icon
{
    font-size: 1.5rem;
    margin-right: 8px;
}

.active .users-icon,.active .removed-users-icon{
    color: #c6093b;
    text-shadow: 1px 2px 2px white;
}

.icon 
{
    border-radius: 30%;
}